REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
SERVER_PORT=8080
MATCH_SERVER_PORT=8081
GAME_SERVER_PORT=8082

# Riot
RIOT_API_KEY=
RIOT_REGION=americas
CACHE_TTL=5m
MATCH_IDS_CACHE_TTL=5m
MATCH_DETAIL_CACHE_TTL=24h

# Data Dragon
DATA_DRAGON_BASE_URL=https://ddragon.leagueoflegends.com
DATA_DRAGON_VERSION=16.1.1
DATA_DRAGON_LOCALE=pt_BR
